.form {
  display: flex;
  width: 400px;
  height: fit-content;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid var(--border-subtle, #e5e5e5);
  background: var(--text-inverse, #fff);
}

.innerform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  background: rgba(0, 0, 0, 0);
}

.titleText {
  color: var(--text-primary, #1a1a1a);

  /* heading/h1 */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
  background: rgba(0, 0, 0, 0);
}

.placeHolder {
  width: 100%;
}

.text {
  color: var(--text-secondary, #6b6b6b);

  /* label/small */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  background: rgba(0, 0, 0, 0);
}

.gap {
  height: 8px;
  align-self: stretch;
  background: rgba(0, 0, 0, 0);
}

.gap2 {
  height: 16px;
  align-self: stretch;
  background: rgba(0, 0, 0, 0);
}

.button {
  width: 100%;
  height: 40px;
}

.area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  width: 100%;
  gap: 10px;
  height: fit-content;
  align-self: stretch;
  background: rgba(0, 0, 0, 0);
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}
